<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body   style="background-color:#F1F2F3; width:60%;height:50%;position:relative; margin : 0 auto;padding:10px">
      <h2>Welcome to Employer Verification Process  <%= @user.name %></h2>
        <p>
        To login to the site, just follow this link: 
        </p>
       <h4>
        <%= link_to "Click Here",authenticate_email_employer_url(@user.email_token) %>
      </h4>
      <p>Thanks for joining and have a great day!</p>
  </body>
</html>